@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root  {
      --background: 33 69% 95%;
      --foreground: 5 5% 0%;
      --card: 5 50% 90%;
      --card-foreground: 5 5% 10%;
      --popover: 33 69% 95%;
      --popover-foreground: 5 100% 0%;
      --primary: 5 84.7% 30.8%;
      --primary-foreground: 0 0% 100%;
      --secondary: 5 30% 70%;
      --secondary-foreground: 0 0% 0%;
      --muted: -33 30% 85%;
      --muted-foreground: 5 5% 35%;
      --accent: -33 30% 80%;
      --accent-foreground: 5 5% 10%;
      --destructive: 0 100% 30%;
      --destructive-foreground: 5 5% 90%;
      --border: 5 30% 50%;
      --input: 5 30% 18%;
      --ring: 5 84.7% 30.8%;
      --radius: 0.5rem;
    }
    .dark  {
      --background: 0 0% 12%;
      --foreground: 5 5% 90%;
      --card: 5 50% 0%;
      --card-foreground: 5 5% 90%;
      --popover: 5 50% 5%;
      --popover-foreground: 5 5% 90%;
      --primary: 5 84.7% 30.8%;
      --primary-foreground: 0 0% 100%;
      --secondary: 5 30% 10%;
      --secondary-foreground: 0 0% 100%;
      --muted: -33 30% 15%;
      --muted-foreground: 5 5% 60%;
      --accent: -33 30% 15%;
      --accent-foreground: 5 5% 90%;
      --destructive: 0 100% 30%;
      --destructive-foreground: 5 5% 90%;
      --border: 5 30% 18%;
      --input: 5 30% 18%;
      --ring: 5 84.7% 30.8%;
      --radius: 0.5rem;
    }

  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
    a {
      @apply text-primary hover:text-secondary-foreground underline;
    }
  }